* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.container-fluid {
  padding-top: 60px;
}

.separator, nav, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator div, nav div, footer div {
  background-color: #007745;
  height: 2px;
  width: 70%;
}
.separator a, nav a, footer a {
  text-decoration: none;
}

.separator {
  height: 40px;
}

nav {
  background-color: #007745;
  height: 60px;
}
nav div {
  height: 60px;
}
nav img {
  height: 100%;
  margin-left: 10px;
}
nav .nav-options div, nav a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-options div a, nav a a {
  cursor: pointer;
  height: 55%;
  width: 120px;
  border-radius: 20px;
  transition: 0.3s ease;
}
nav .nav-options div a:hover, nav a a:hover {
  background-color: #015834;
  box-shadow: 3px 3px 1px black;
  translate: -3px -3px;
}
nav .nav-options div p, nav a p {
  margin: 0;
}
nav .nav-idiom div {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-idiom div img {
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 30px;
  transition: 0.3s ease;
}
nav .nav-idiom div img:hover {
  transform: scale(1.3);
}

section {
  height: 300px;
}
section div {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .text-zone {
  flex-direction: column;
}
section .text-zone p {
  margin: 0;
  font-size: 25px;
}
section .text-zone div {
  height: 80px;
  width: 100%;
  padding-top: 30px;
  margin: 20px;
  flex-direction: row;
}
section .text-zone div img {
  margin: 8px;
  height: 50px;
  width: 50px;
}
section .text-zone div img:nth-child(3) {
  margin-bottom: 60px;
}
section .text-zone div img:nth-child(2), section .text-zone div img:nth-child(4) {
  margin-bottom: 30px;
}
section .text-zone .second-section {
  padding-top: 0px;
  margin: 0px;
}
section .text-zone .second-section img {
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
}
section .text-zone .second-section img:nth-child(3), section .text-zone .second-section img:nth-child(2) {
  margin-bottom: 0px;
}
section .text-zone .text-img {
  height: 20px;
  padding-top: 0px;
  margin: 0px;
}
section .text-zone .text-img p:nth-child(1) {
  padding-left: 20px;
}
section .text-zone .text-img p:nth-child(2) {
  padding-left: 20px;
}
section .text-zone .text-img p:nth-child(3) {
  padding-left: 5px;
}

article {
  height: 300px;
}
article div {
  display: flex;
  align-items: center;
  justify-content: center;
}
article div:nth-child(1) {
  height: 200px;
}
article div:nth-child(1) .op-container {
  flex-direction: column;
  height: 100%;
  margin: 10px;
}
article div:nth-child(1) .op-container .opinion {
  width: 200px;
  height: 50%;
  background-color: #007745;
  border-radius: 25px;
  flex-direction: row;
}
article div:nth-child(1) .op-container .opinion div {
  width: 50%;
  height: 100%;
}
article div:nth-child(1) .op-container .opinion div img {
  padding: 0px;
  width: 100%;
}
article div:nth-child(1) .op-container .opinion div p {
  margin-right: 12px;
  color: white;
}
article div:nth-child(1) .op-container .opinion div p:nth-child(2) {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
article div:nth-child(1) .op-container img {
  width: 200px;
  padding-top: 20px;
}
article div:nth-child(2) {
  height: 100px;
  flex-direction: column;
}
article div:nth-child(2) p {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0px;
  font-size: 25px;
}

footer {
  background-color: #007745;
  height: 170px;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer div img {
  cursor: pointer;
  width: 40px;
  transition: 0.3s ease;
}
footer div img:hover {
  transform: scale(1.3);
}
footer .info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
footer .info-footer p {
  margin: 0;
  font-size: 14px;
}
footer .info-footer img {
  margin-top: -10px;
  width: 230px;
}/*# sourceMappingURL=style.css.map */