* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.container-fluid {
  padding-top: 60px;
}

.separator, nav, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator div, nav div, footer div {
  background-color: #007745;
  height: 2px;
  width: 70%;
}
.separator a, nav a, footer a {
  text-decoration: none;
}

.separator {
  height: 40px;
}

.background {
  background-size: cover;
  background-position-y: 60%;
}

.back-playa {
  background-image: url("../imgs/playa.jpg");
}

.back-mount {
  background-image: url("../imgs/montanya.jpg");
}

.hotel-img {
  height: 750px;
  background-size: cover;
  background-position: center;
}

.mountain-hotel {
  background-image: url("../imgs/pinnacle.jpg");
}

.playa-hotel {
  background-image: url("../imgs/myrwn.jpg");
}

.desc-hotel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.desc-hotel h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.desc-hotel .location {
  height: 400px;
  background-size: cover;
  background-position: center;
}
.desc-hotel .mountain-loc {
  background-image: url("../imgs/loc_mount.PNG");
}
.desc-hotel .playa-loc {
  background-image: url("../imgs/loc_play.PNG");
}
.desc-hotel .text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #007745;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
  box-shadow: 6px 6px 10px black;
}
.desc-hotel .text-box p {
  font-size: 17px;
  text-align: justify;
  width: 90%;
  margin: 20px;
}

.cont-habit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  margin-bottom: 15px;
}
.cont-habit .section-hab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #007745;
  border-radius: 20px;
  margin: 5px;
  height: 200px;
  transition: 0.3s ease;
}
.cont-habit .section-hab .precioNoche {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(144, 216, 183);
  border-radius: 15px;
  height: 40px;
  width: 120px;
  margin-top: 130px;
}
.cont-habit .section-hab .precioNoche p {
  color: black;
  width: fit-content;
}
.cont-habit .section-hab .precioNoche p:first-child {
  font-size: 30px;
}
.cont-habit .section-hab .precioNoche p:last-child {
  margin-left: 5px;
  margin-top: 6px;
}
.cont-habit .section-hab:hover {
  transform: scale(1.2, 1.2) rotate(5deg);
  box-shadow: 0px 0px 10px;
}
.cont-habit .section-hab div {
  width: 49%;
  height: 90%;
}
.cont-habit .section-hab div:last-child {
  color: white;
}
.cont-habit .section-hab div:last-child h2 {
  width: 100%;
  margin: 0px;
  text-align: center;
}
.cont-habit .section-hab div:last-child p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  overflow-y: auto;
  margin: 0px;
  height: 60%;
}
.cont-habit .section-hab div:last-child a {
  color: yellow;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-habit .section-hab div:last-child a h5:hover {
  animation-timing-function: ease-out;
  animation-name: rebote;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes rebote {
  0%, 100% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.5, 0.8);
  }
  40% {
    transform: scale(1.5, 0.8);
  }
  60% {
    transform: scale(0.5, 1);
  }
  80% {
    transform: scale(1.2, 0.9);
  }
}
.cont-habit .section-hab:nth-child(1) > .mont-img {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/mont-foto1.jpg");
}
.cont-habit .section-hab:nth-child(2) > .mont-img {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/mont-foto2.jpg");
}
.cont-habit .section-hab:nth-child(3) > .mont-img {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/mont-foto3.jpg");
}
.cont-habit .section-hab:nth-child(4) > .mont-img {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/mont-foto4.jpg");
}
.cont-habit .section-hab:nth-child(1) > .playa-img {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/play-foto1.jpg");
}
.cont-habit .section-hab:nth-child(2) > .playa-img {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/play-foto2.jpg");
}
.cont-habit .section-hab:nth-child(3) > .playa-img {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/play-foto3.jpg");
}
.cont-habit .section-hab:nth-child(4) > .playa-img {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/play-foto4.jpg");
}

nav {
  background-color: #007745;
  height: 60px;
}
nav div {
  height: 60px;
}
nav img {
  height: 100%;
  margin-left: 10px;
}
nav .nav-options div, nav a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-options div a, nav a a {
  cursor: pointer;
  height: 55%;
  width: 120px;
  border-radius: 20px;
  transition: 0.3s ease;
}
nav .nav-options div a:hover, nav a a:hover {
  background-color: #015834;
  box-shadow: 3px 3px 1px black;
  translate: -3px -3px;
}
nav .nav-options div p, nav a p {
  margin: 0;
}
nav .nav-idiom div {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-idiom div img {
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 30px;
  transition: 0.3s ease;
}
nav .nav-idiom div img:hover {
  transform: scale(1.3);
}

section {
  height: 300px;
}
section div {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .text-zone {
  flex-direction: column;
}
section .text-zone p {
  margin: 0;
  font-size: 25px;
}
section .text-zone div {
  height: 80px;
  width: 100%;
  padding-top: 30px;
  margin: 20px;
  flex-direction: row;
}
section .text-zone div img {
  margin: 8px;
  height: 50px;
  width: 50px;
}
section .text-zone div img:nth-child(3) {
  margin-bottom: 60px;
}
section .text-zone div img:nth-child(2), section .text-zone div img:nth-child(4) {
  margin-bottom: 30px;
}
section .text-zone .second-section {
  padding-top: 0px;
  margin: 0px;
}
section .text-zone .second-section img {
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
}
section .text-zone .second-section img:nth-child(3), section .text-zone .second-section img:nth-child(2) {
  margin-bottom: 0px;
}
section .text-zone .text-img {
  height: 20px;
  padding-top: 0px;
  margin: 0px;
}
section .text-zone .text-img p:nth-child(1) {
  padding-left: 20px;
}
section .text-zone .text-img p:nth-child(2) {
  padding-left: 20px;
}
section .text-zone .text-img p:nth-child(3) {
  padding-left: 5px;
}

article {
  height: 300px;
}
article div {
  display: flex;
  align-items: center;
  justify-content: center;
}
article div:nth-child(1) {
  height: 200px;
}
article div:nth-child(1) .op-container {
  flex-direction: column;
  height: 100%;
  margin: 10px;
}
article div:nth-child(1) .op-container .opinion {
  width: 200px;
  height: 50%;
  background-color: #007745;
  border-radius: 25px;
  flex-direction: row;
}
article div:nth-child(1) .op-container .opinion div {
  width: 50%;
  height: 100%;
}
article div:nth-child(1) .op-container .opinion div img {
  padding: 0px;
  width: 100%;
}
article div:nth-child(1) .op-container .opinion div p {
  margin-right: 12px;
  color: white;
}
article div:nth-child(1) .op-container .opinion div p:nth-child(2) {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
article div:nth-child(1) .op-container img {
  width: 200px;
  padding-top: 20px;
}
article div:nth-child(2) {
  height: 100px;
  flex-direction: column;
}
article div:nth-child(2) p {
  height: fit-content;
  margin-bottom: 0px;
  font-size: 25px;
}

.cuerpo-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuerpo-formulario h1 {
  width: fit-content;
}
.cuerpo-formulario .img-hotel {
  height: 200px;
  background-position: center;
  background-size: cover;
}
.cuerpo-formulario h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.cuerpo-formulario .info-adicional {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuerpo-formulario .info-adicional div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuerpo-formulario .info-adicional div p {
  width: 100%;
  border: 2px dotted #007745;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 5px;
}
.cuerpo-formulario .info-adicional div button {
  color: white;
  margin-top: 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #007745;
  border: none;
  transition: 0.3s ease;
}
.cuerpo-formulario .info-adicional div button:hover {
  background-color: #015834;
  box-shadow: 3px 3px 1px black;
  translate: -3px -3px;
}
.cuerpo-formulario .p1 {
  background-image: url("../imgs/play-foto1.jpg");
}
.cuerpo-formulario .p2 {
  background-image: url("../imgs/play-foto2.jpg");
}
.cuerpo-formulario .p3 {
  background-image: url("../imgs/play-foto3.jpg");
}
.cuerpo-formulario .p4 {
  background-image: url("../imgs/play-foto4.jpg");
}
.cuerpo-formulario .m1 {
  background-image: url("../imgs/mont-foto1.jpg");
}
.cuerpo-formulario .m2 {
  background-image: url("../imgs/mont-foto2.jpg");
}
.cuerpo-formulario .m3 {
  background-image: url("../imgs/mont-foto3.jpg");
}
.cuerpo-formulario .m4 {
  background-image: url("../imgs/mont-foto4.jpg");
}
.cuerpo-formulario .parte {
  min-height: 55vh;
}
.cuerpo-formulario .parte .calendar {
  padding: 20px;
  text-align: center;
}
.cuerpo-formulario .parte .calendar .weekdays {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.cuerpo-formulario .parte .calendar .weekdays div {
  width: 14.2857142857%;
}
.cuerpo-formulario .parte .calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 10px 0;
}
.cuerpo-formulario .parte .calendar .days .reserved {
  cursor: unset;
  color: white;
  background-color: rgb(172, 34, 34);
}
.cuerpo-formulario .parte .calendar .days .pastonext {
  cursor: unset;
  color: white;
  background-color: rgb(88, 88, 88);
}
.cuerpo-formulario .parte .calendar .days div {
  cursor: pointer;
  padding: 10px;
  border-radius: 20%;
  background-color: #f0f0f0;
}
.cuerpo-formulario .parte .calendar .days div:not(.pastonext):not(.reserved):hover {
  color: white;
  background-color: #007745;
}
@media (max-width: 768px) {
  .cuerpo-formulario .parte .calendar .weekdays div {
    font-size: 12px;
  }
  .cuerpo-formulario .parte .calendar .days div {
    font-size: 14px;
  }
}

footer {
  background-color: #007745;
  height: 170px;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer div img {
  cursor: pointer;
  width: 40px;
  transition: 0.3s ease;
}
footer div img:hover {
  transform: scale(1.3);
}
footer .info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
footer .info-footer p {
  margin: 0;
  font-size: 14px;
}
footer .info-footer img {
  margin-top: -10px;
  width: 230px;
}

/*# sourceMappingURL=style.css.map */
